@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #FFF5E1;
    color: #B0BEC5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 6px #0000001a;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

header img {
    height: 3rem;
    border-radius: 50%;
    margin: 1vh;
}

nav  {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #B0BEC5;
    font-weight: 700;
    transition: color 0.3s;
    margin-left: 20px;
}

nav a:hover {
    color: #FFC0CB;
}

.btn-sesion button {
    background-color: #8B4513;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s;
}

.btn-sesion button:hover {
    background-color: #FFC0CB;
}

.banner {
    background: linear-gradient(#00000080, #00000080), url('imagenes/torta\ banner.avif');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.banner h1 {
    font-family: "Pacifico", cursive;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.btn-productos button {
    background-color: #8B4513;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s;
}

.btn-products button:hover {
    background-color: #FFC0CB;
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 40px;
    font-family:'Pacifico', cursive;
    font-size: 2.5rem;
    color: #8B4513;
}

.categorias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.categoria-card {
    background: linear-gradient(#00000066, #00000066);
    border-radius: 15px;
    overflow: hidden;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px #0000001a;
    transition: transform .3s;
    position: relative;
    cursor: pointer;
}

.categoria-card:hover {
    transform: translateY(-5px);
}

.categoria-card h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #FFFF;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #00000080;
    z-index: 2;

}

.categoria-card p {
    color: #fff;
    font-size: 1.1rem;
    max-width: 80%;
}

.tortas-cuadradas {
    background: linear-gradient(#00000066, #00000066), url(imagenes/torta\ cuadrada.jpg);
    background-size: cover;
    background-position: center;
}

.tortas-circulares {
    background: linear-gradient(#00000066, #00000066), url(imagenes/torta\ circular.jpg);
    background-size: cover;
    background-position: center;
}

.postres {
    background: linear-gradient(#00000066, #00000066), url(imagenes/postres.jpg);
    background-size: cover;
    background-position: center;
}
.especial {
    background: linear-gradient(#00000066, #00000066), url(imagenes/vegano.jpeg);
    background-size: cover;
    background-position: center;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

.producto-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px #0000001a;
}

.producto-card:hover {
    transform: translateY(-5px);
}

.producto-img {
    height: 200px;
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
}

.info {
    padding: 20px;
}

.titulo-producto {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #8B4513;
}

.precio {
    font-weight: 700;
    color: #5D4037;
    margin-bottom: 15px;
}

.descripcion {
    color: #B0BEC5;
    margin-bottom: 15px;
    font-size: .9rem;
}


.producto-card button {
    background-color: #8B4513;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s;
}

.producto-card button:hover {
    background-color: #FFC0CB;
}

.promociones {
    background-color: #FFC0CB;
    padding: 60px 0;
    text-align: center;
    margin-bottom: 60px;
}

.promociones-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.promocion-card {
    background-color: #FFFF;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 4px 6px #0000001a;
}

.promocion-card h3 {
    color: #8B4513;
    margin-bottom: 15px;
}

footer {
    background-color: #8B4513;
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.footer-section h3{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footer-section ul {
    list-style: none;
}
        
.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #FFC0CB;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #ffffff96;
}

/* CSS DE PRODUCTOS XD */

.nav-categorias {
    background-color: #8B4513;
    padding: 20px 0 15px 0;
    text-align: center;
    margin-bottom: 40px;
    position: sticky;
    top: 90px;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-categorias a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-categorias a:hover {
    color: #FFC0CB;
}

/* Estilos para las secciones de categoría*/
.categoria-productos {
    margin-bottom: 60px;
}

/*Estilos para el nuevo código de producto*/
.codigo-producto {
    color: #B0BEC5;
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 300;
}

/* imágenes de fondo */
/* Tortas Cuadradas */
.torta-cuadrada-chocolate {
    background-image: url('imagenes/torta\ chocolate.webp');
}
.torta-cuadrada-frutas {
    background-image: url('imagenes/torta\ cuadrada.jpg');
}

/* Tortas Circulares */
.torta-circular-manjar {
    background-image: url('imagenes/torta\ manjar\ v2.jpg');
}
.torta-circular-vainilla {
    background-image: url('imagenes/torta\ vainilla.webp');
}

/* Postres Individuales */
.mousse-chocolate {
    background-image: url('imagenes/mousse.jpg');
}
.tiramisu {
    background-image: url('imagenes/tiramisu.jpg');
}

/* Sin Azúcar */
.torta-naranja-sin-azucar {
    background-image: url('imagenes/torta\ naranja.jpg');
}
.cheesecake-sin-azucar {
    background-image: url('imagenes/cheesecake\ frutilla.webp');
}

/* Tradicional */
.empanada-manzana {
    background-image: url('imagenes/empanada\ manzana.jpg');
}
.tarta-santiago {
    background-image: url('imagenes/tarta\ santiago.jpg');
}

/* Sin Gluten */
.brownie-sin-gluten {
    background-image: url('imagenes/brownie.avif');
}
.pan-sin-gluten {
    background-image: url('imagenes/pan\ sin\ gluten.jpg');
}

/* Veganos */
.torta-vegana-chocolate {
    background-image: url('imagenes/chocolate\ vegano.jpg');
}
.galletas-avena-veganas {
    background-image: url('imagenes/galleta\ vegana.jpg');
}

/* Tortas Especiales */
.torta-cumpleanos {
    background-image: url('imagenes/torta\ hbd.jpg');
}
.torta-boda {
    background-image: url('imagenes/torta\ boda.avif');
}