@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #FFF5E1;
}

header {
    background-color: #733408;
    color: #fff;
    min-height: 16vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px;
}

header img {
    height: 150px;
    border-radius: 50%;
    margin: 1vh;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 1vh;
}